.TimeLeft {
  #time-label {
    font-size: 1.5rem;
  }
  #time-left {
    padding: 0.5rem 0;
    margin: 0.7rem 0;
    font-weight: 700;
    font-size: 2rem;
    color: #222222;
    /*background: #fdb4ba;*/
    border-radius: 10px;
  }
}
